<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Imensajes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20000/mensajes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Imensajes" contract="MensajeWS.Imensajes"
                name="BasicHttpBinding_Imensajes" />
        </client>
    </system.serviceModel>
</configuration>